body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: var(--text_darkgrey);
}

.pulse {
  animation-name: pulse_kf;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: ease-in-out;
}

@keyframes pulse_kf {
  from {
    scale: 1;
  }
  to {
    scale: 0.7;
  }
}

a {
  text-decoration: none;
}

h1 {
  font-family: "optipirogi-romanregular";
  font-size: 40px;
  color: var(--light_yellow);
}

h2 {
  font-family: "optipirogi-romanregular";
  font-size: 35px;
  color: var(--light_yellow);
}

h3 {
  font-family: "neue_haas_grotesk_display65Md";
  font-size: 23px;
  color: var(--light_yellow);
  margin-top: 1.5rem;
  margin: 0.5rem;
}

h3:hover {
  color: var(--orange);
}

h4 {
  font-family: "neue_haas_grotesk_display65Md";
  font-size: 18px;
  margin-top: 2rem;
  color: var(--light_yellow);
}

p {
  font-family: "neue_haas_grotesk_display35Th";
  font-size: 18px;
  margin-bottom: 1rem;
  max-width: 60rem;
  line-height: 1.8rem;
  margin: 0 auto;
}

.about p {
  font-family: "neue_haas_grotesk_display35Th";
  font-size: 18px;
  padding: 0.6rem;
  padding-left: 0.5rem;
  line-height: 1.8rem;
  max-width: 55rem;
  margin: 0 auto;
  text-align: start;
}

.about a {
  font-family: "neue_haas_grotesk_display65Md";
  font-size: 17px;
  margin-top: 2rem;
  color: var(--orange);
  text-decoration: none;
}

.about a:hover {
  scale: 1.02;
  transition: all 0.2s ease;
}

span {
  font-family: "neue_haas_grotesk_display65Md";
  font-size: 17px;
}

.pil {
  margin-top: 3rem;
  font-size: 2rem;
  text-decoration: none;
}

.pil2 {
  text-decoration: none;
  color: var(--light_yellow);
}

.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}

.hero-overlay-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 102, 0, 0.7);
  z-index: -1;
}

.hero-overlay {
  position: relative;
  padding: 15px;
  border-radius: 10px;
  width: 90%;
  color: var(--light_yellow);
}

.about {
  padding: 50px 5%;
  text-align: center;
  color: var(--light_yellow);
}

.about h2 {
  font-size: 45px;
  margin-bottom: 15px;
  text-align: start;
  margin-left: 8rem;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(var(--text_darkgrey), black);
  margin-top: 4rem;
  padding: 30px;
  color: var(--light_yellow);
}

.footer-container img {
  width: 60%;
  place-self: end;
}
.footer_left {
  place-content: end;
}

.footer_right {
  align-self: end;
  place-self: end;
}

@media (min-width: 750px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .hero-overlay {
    width: 100%;
  }
  .about {
    padding: 170px 10%;
  }

  h1 {
    font-family: "optipirogi-romanregular";
    font-size: 80px;
    color: var(--light_yellow);
  }

  h2 {
    font-family: "optipirogi-romanregular";
    font-size: 35px;
    color: var(--light_yellow);
  }

  h3 {
    font-family: "neue_haas_grotesk_display65Md";
    font-size: 32px;
    color: var(--light_yellow);
    margin-top: 1.5rem;
    margin: 0.5rem;
  }

  h4 {
    font-family: "neue_haas_grotesk_display65Md";
    font-size: 22px;
    margin-top: 2rem;
    color: var(--light_yellow);
  }

  h6 {
    font-size: 100px;
  }

  p {
    font-family: "neue_haas_grotesk_display35Th";
    font-size: 22px;
    margin-bottom: 1rem;
    max-width: 60rem;
    line-height: 2rem;
    margin: 0 auto;
  }

  .about p {
    font-family: "neue_haas_grotesk_display35Th";
    font-size: 22px;
    padding: 0.6rem;
    padding-left: 0.5rem;
    line-height: 1.8rem;
    max-width: 55rem;
    margin: 0 auto;
    text-align: start;
  }

  .about a {
    font-family: "neue_haas_grotesk_display65Md";
    font-size: 21px;
    margin-top: 2rem;
    color: var(--orange);
    text-decoration: none;
  }

  span {
    font-family: "neue_haas_grotesk_display65Md";
    font-size: 21px;
  }

  .pil {
    margin-top: 3rem;
    font-size: 3rem;
    text-decoration: none;
  }

  .pil2 {
    text-decoration: none;
    color: var(--light_yellow);
  }

  .about h2 {
    font-size: 65px;
    margin-bottom: 15px;
    text-align: start;
    margin-left: 10rem;
  }
}
