body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #222;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0%;
  z-index: 10;
  padding: 15px 10px;
}

.logo img {
  height: 50px;
  margin-bottom: 15px;
}

.nav-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  color: #ffe9bf;
  padding: 10px 15px;
}

.hero {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}

.hero-overlay-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 102, 0, 0.7);
  z-index: -1;
}

.hero-overlay {
  position: relative;
  padding: 15px;
  border-radius: 10px;
  width: 90%;
  color: #ffe9bf;
}

.about {
  padding: 40px 5%;
  text-align: center;
  color: #ffe9bf;
}

.about h2 {
  font-size: 2em;
  margin-bottom: 15px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background: linear-gradient(to top, black, #222);
}

.social-links {
  display: flex;
  gap: 15px;
  margin-bottom: 10px;
}

.social-links img {
  width: 25px;
}

.footer-logo img {
  height: 120px;
}

@media (min-width: 768px) {
  nav {
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    left: 10%;
    padding: 15px 40px;
  }
  .nav-links {
    flex-direction: row;
    gap: 20px;
  }
  .hero-overlay {
    width: 100%;
  }
  .about {
    padding: 150px 10%;
  }

  /* Opdateret footer for desktop */
  footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 70px;
  }

  .social-links {
    display: flex;
    gap: 15px;
    margin-bottom: 0px;

    .footer-logo {
      margin-left: 20%;
    }

    .footer-logo img {
      height: 120px;
    }
  }

  .social-links img {
    width: 35px;
  }
}
